.not-found
  text-align center
  display flex
  justify-content center
  flex-direction column
  height 70vh
  
  &__h1
    font-size rem(120)
    line-height 1.15
    margin 0
  
  &__lead
    font-size rem(30)
