.icon  
  &_module
    stroke-width 1px
    margin-left 2px
    margin-right 2px
    
    &.icon_download
    &.icon_upload
      stroke-width 2px
      fill none
      stroke $inactive
    
    /* Ставка активна */
    &.active
      stroke-width 0
      fill $text
    
      &.icon_download
      &.icon_upload
      &.icon_paperclip
      &.icon_user
        fill none
        stroke $text
        stroke-width 2px
    
    /* NET-cтавка подписана */
    &.signed
      stroke-width 0
      fill $blue
    
      &.icon_download
      &.icon_upload
      &.icon_paperclip
      &.icon_user
        fill none
        stroke $blue
        stroke-width 2px
    
    /* Все 3 cтавки подписаны */
    &.ready
      stroke-width 0
      fill $green
    
      &.icon_download
      &.icon_upload
      &.icon_paperclip
      &.icon_user
        fill none
        stroke $green
        stroke-width 2px
      
  &_ship
    stroke-width 0
    fill $inactive
  
  &_avia
    stroke-width 2px
