/*
 *  Основные размеры
 */
$baseOffset = 30px
$mobileOffset = 20px

$headerHeight = 50px
$sidebarWidth = 20rem

$white = #ffffff;
$black = #000000;

$text = #444

$grayLight = #cccccc
$gray = #999999
$grayDark = #666666
$grayDarker = #333333

$formColor = #d8fbf8

$fontBase = 'PT Sans', sans-serif
